/*--- Social Icons (Facebook, Linkedin, Twitter, GooglePlus) ---*/

.social-icons {
    margin: 2% auto 0;
}
.social-icons  a span {
	display:inline-block;
	width:40px;
	height:40px;
}
.social-icons  span.facebook {
  background:url(../images/social-icons.png) no-repeat 0px 0px;
}
.social-icons span.twitter {
  background:url(../images/social-icons.png) no-repeat -40px 0px;
}
.social-icons span.linkedin {
  background:url(../images/social-icons.png) no-repeat -80px 0px;
}
.social-icons span.googleplus {
  background:url(../images/social-icons.png) no-repeat -1200px 0px;
}
.social-icons span.github {
  background:url(../images/github-icon.png) no-repeat 0px 0px/40px 40px;
}

/*About me social icons*/
.mydetails .social-icons {
	padding: 1.3em 0 0;
	margin:0;
}
.mydetails .social-icons  a span {
	display:inline-block;
	width:40px;
	height:40px;
}
.mydetails .social-icons  span.facebook {
  background:url(../images/social-icons.png) no-repeat 0px 0px;
}
.mydetails .social-icons span.twitter {
  background:url(../images/social-icons.png) no-repeat -40px 0px;
}
.mydetails .social-icons span.linkedin {
  background:url(../images/social-icons.png) no-repeat -80px 0px;
}
.mydetails .social-icons span.googleplus {
  background:url(../images/social-icons.png) no-repeat -120px 0px;
}
.mydetails .social-icons span.github {
  background:url(../images/github-icon.png) no-repeat 0px 0px/40 40px;
}

@media (max-width: 991px) {
  .mydetails .social-icons {
    padding: 1.2em 0 0;
}
}

/*--projects--*/
.projects {
    background: #f5f5f5;
}
.news {
    padding:5em 0px;
}
.news-top{
	text-align:center;
}
.news-bottom{
	margin-top:4%;
}
.news-left{
	padding:0;
}
.news-left img{
  width: 100%;
	/*width:570px;*/
  /*height:310px;*/
}
.news-right {
    padding: 3.68em 2em 3.5em 2em;
    border: 1px solid rgb(230, 229, 229);
    text-align: left;
	background: #fff;
  overflow: auto;
  /*min-height: 310px;*/
}
.news-right h4{
	margin:0;
}
.news-right a h4 {
    font-size: 1.4em;
    margin: 0;
    color: #00bdbd;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
	transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	-ms-transition:.5s ease-in-out;
}
.news-right p {
    line-height: 37px;
}
.news-right a h4:hover{
	color:#ec1944;
	transition:.5s ease-in-out;
	-webkit-transition:.5s ease-in-out;
	-moz-transition:.5s ease-in-out;
	-o-transition:.5s ease-in-out;
	-ms-transition:.5s ease-in-out;
}
.news-right h5{
	color: #b0afb1;
    margin: 12px 0px;
    font-size: 1.5em;
    letter-spacing: 2px;
}
.news-one-wthree-agile{
	margin-top:2.5%;
}
.news-one-wthree-agile:nth-child(1){
	margin-top:0%;
}
a.lightbox img {
width:100%;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
z-index: 999;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}
p.pop {
    background-color: #fff;
    width: 35%;
    position: absolute;
    top: 65%;
    left: 32.5%;
    padding: 2em 2em;
    font-size: 0.9em;
    line-height: 1.9em;
}
.lightbox-target img:hover{
}
/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
left: 0%;
}

.lightbox-target:target img {
	    max-height: 80%;
    max-width: 35%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}
a.lightbox img:hover {
 background:#21A957;
}
@media(max-width:1440px){
	.news-right {
		padding: 3.65em 2em 3.5em 2em;
	}
}

@media(max-width:1366px){
  .projects{
		padding: 80px 0px;
	}
}

@media(max-width:1280px){
	.news-right a h4 {
		font-size: 1.3em;
		margin-bottom: 1.2em;
	}
	.lightbox-target img {
		top: -61px;
	}
}
@media(max-width:1080px){
	.lightbox-target:target img {
		max-width: 45%;
	}
	p.pop {
		width: 45%;
		top: 69%;
		left: 27.5%;
	}
	.lightbox-target img {
		top: -34px;
	}
	.news-right a h4 {
		font-size: 1.2em;
		margin-bottom: .66em;
	}
	.news-right p {
		line-height: 33px;
	}.para-w3-agile {
		font-size: 14px;
	}
	.news-right {
		padding: 2em 2em 1.5em 2em;
	}
}

@media(max-width:1050px){
	p.pop {
		top: 68%;
	}
}

@media(max-width:1024px){
	p.pop {
		top: 65%;
	}
	.projects {
		padding: 70px 0px;
	}
}

@media(max-width:991px){
	.news-right a h4 {
		font-size: 1.1em;
	}
}
@media(max-width:900px){
	.news-right a h4 {
		font-size: 1em;
	}
}
@media(max-width:800px){
	.news-right a h4 {
		font-size: 17px;
	}
	.lightbox-target:target img {
		max-width: 55%;
	}
	.lightbox-target img {
		top: -123px;
	}
	p.pop {
		width: 55%;
		top: 59%;
		left: 22.5%;
	}
}
@media(max-width:768px){
	p.pop {
		top: 55%;
	}
}
@media(max-width:767px){

}
@media(max-width:736px){

}
@media(max-width:667px){
	.lightbox-target:target img {
		max-width: 65%;
	}
	p.pop {
		width: 65%;
		top: 59%;
		left: 17.5%;
	}
}
@media(max-width:640px){
	.projects {
		padding: 65px 0px;
	}
}
@media(max-width:600px){
	.news-right a h4 {
		margin-bottom: .5em;
	}
	p.pop {
		top: 57%;
		padding: 1em 2em;
		font-size: 0.84em;
	}
}
@media(max-width:568px){
	.para-w3-agile {
		font-size: 13.5px;
	}
	.news-right a h4 {
		font-size: 15px;
	}
	.news-right p {
		line-height: 30px;
	}
	p.pop {
		top: 56%;
	}
}
@media(max-width:480px){
	.lightbox-target:target img {
		max-width: 80%;
	}
	p.pop {
		width: 80%;
		top: 56.5%;
		left: 10%;
	}
	.news-right {
		padding: 1.6em 1.6em 1.1em;
	}
}
@media(max-width:414px){
	p.pop {
		top: 53.5%;
	}
}
@media(max-width:384px){
	.para-w3-agile {
		font-size: 13px;
		line-height: 28px;
	}
	.lightbox-target:target img {
		max-width: 88%;
	}
	p.pop {
		width: 88%;
		top: 54.5%;
		left: 6%;
	}
	.news-right p {
		line-height: 28px;
	}
}

@media(max-width:375px){
	p.pop {
		top: 54%;
		padding: 1em 1.3em;
	}
	.news-right {
		padding: 1.3em 1.3em .82em;
	}
}
@media(max-width:320px){
	p.pop {
		top: 52%;
	}
	.projects {
		padding: 50px 0px;
	}
	.news-right a h4 {
		font-size: 14.5px;
	}
}
/*--//projects--*/
